#articleOver {
	display: inline-block;
}

#articleOver p {
	text-align: left;
}

#articleOver img {
	width: 30vw;
	float: left;
	margin-right: 1vw;
	border-radius: 3px;
}

#articleOver button {
	margin-top: 2em;
}

#articleOpeningstijden {
	margin: 5em auto auto -50%;
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: #1a2c56;
	color: white;
	width: 100vw;
	user-select: none;
}

#articleOpeningstijden p {
	text-align: center;
	margin-bottom: 1em;
}

#articleOpeningstijden h1,
h2 {
	color: white;
}

.seizoensTitel {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2em;
}

#articleOpeningstijden img {
	float: left;
	position: relative;
	margin-top: -1em;
	margin-bottom: .5em;
	margin-right: .5em;
	height: 2.5em;
	top: 10px;
}

#winter img {
	height: 2.2em;
}

#articleLocatie {
	text-align: center;
	margin-top: 3em;
}

#articleLocatie h1 {
	margin-bottom: .3em;
}

#locatieContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 6vh;
}

#articleLocatie img {
	position: relative;
	display: inline-block;
	width: 50px;
	margin-left: 20px;
}

#articleLocatie button {
	margin-bottom: 20px;
}

#section {
	margin-top: 10vh;
	width: 50%;
	margin: 5vh auto 0 auto;
}

header {
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100vw;
	min-height: 100vh;
	margin-top: -3.3vh;
}

#articlePrijzen table {
	margin: 1em 0;
	padding: 30px 40px 30px 30px;
	border-radius: 30px;
	min-width: 300px;
	background: #1a2c56;
	font-size: 1.2em;
	width: 100%;
	box-shadow: 0 10px 22px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#articlePrijzen table tr {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#articlePrijzen table th {
	color: white;
	padding-bottom: 20px;
	font-weight: bold;
}

#articlePrijzen table td {
	display: table-cell;
	color: white;
	text-align: center;
}

#articlePrijzen table td:first-child {
	padding-top: .5em;
}

#articlePrijzen table td:last-child {
	padding-bottom: .5em;
}

#articlePrijzen table td:before {
	font-weight: bold;
	width: 6.5em;
	display: inline-block;
}

#articlePrijzen h2 {
	color: #1a2c56;
}

#articlePrijzen ul {
	text-align: center;
}

#articlePrijzen li {
	text-align: center;
	padding: 5px;
}